astra-toolbox>=2.4.0
ipykernel>=6.29.5
ipywidgets>=8.0.6
jupyterlab==4.2.2
matplotlib>=3.7.2
napari>=0.5.0
napari-opt-handler
nbformat==5.10.4
numpy>=1.24.4
opencv-python>=4.9
pympler>=1.1
PyQt5>=5.15.9
qtpy>=2.3.0
scipy>=1.10.1
scikit-image>=0.20.0
scikit-learn>=1.2.2
tqdm>=4.65.0